.games{
    position: relative;
}
.games-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,3fr));
    gap: 50vh;
    justify-content: center;
    justify-items: center;
    margin:200px 100px 300px 100px;
}
.game-searched{
    max-height: 30rem;
    overflow-y: scroll;
}


.next-button{
    border: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    width: 25%;
    display: block;
    margin: 200px auto 100px auto;
}
.previous-button{
    border: none;
    background:red;
    width: 25%;
    display: block;
    margin: 200px auto 100px auto;
}
.loading-icon{
    margin: 25% 0 25% 45%;
    color: white;
    animation: spin infinite 2s linear;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }